# 의존성
node_modules/

# 환경변수 (절대 커밋 금지)
.env
.env.local
.env.production

# 빌드 결과물
dist/
build/

# 로그
*.log
npm-debug.log*

# OS 파일
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/

# DBINFO
DBINFO

#glog sql
glog_schema.sql